#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
div.card {
  padding: 1rem;
}
body {
  background-color: rgb(237, 240, 237);
}

.card {
  padding: 2em;
}
text-start {
  text-align: start;
  background-color: whitesmoke;
}
